@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

body{
    font-family: 'Roboto Mono', monospace;
    background: bisque;
}

.container{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;

}
.innerContainer{
    background-color: limegreen;
    height: 100vh;
    
}
.pricing{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.estimates{
    display: flex;
    flex-direction: column;
    margin: 50px 0 0 10px;
}
h1{
    text-align: center;
}
span{
    background: grey;
    float: right;
    height: 20px;
    width: 200px;
    /* padding-right: 0px;
    margin-right: 0px;
    text-align: center;
    margin-bottom: 1px; */
}
input{
    float: right;
    margin-bottom: 20px;
}
button{
    float: right;
    margin: 10px;
    width: 185px;
}