@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

body{
    font-family: 'Roboto Mono', monospace;
    background: #A57548;
}

.container{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;

}
.innerContainer{
    background-color: #A3F7B5;
    height: 100vh;
    
}
.pricing{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.estimates{
    display: flex;
    flex-direction: column;
    margin: 50px 0 0 10px;
}
h1{
    text-align: center;
}
span{
    background: grey;
    float: right;
    height: 20px;
    width: 60px;
    border-radius: 100%;
    text-align: center;
    margin-left: 20px;
}
input{
    float: right;
    margin-bottom: 20px;
    height: 30px;
}
button{
    float: right;
    margin: 10px;
    width: 185px;
    height: 30px;
    border-radius: 30px;
    background-color:#A57548;
}
@media only screen and (max-width: 480px){
   
    span{
    background: grey;
    float: right;
    height: 20px;
    width: 60px;
    border-radius: 100%;
    text-align: center;
    margin-left: 20px;
}
.estimates{
    display: flex;
    flex-direction: column;
    /* margin: 50px 0 0 10px; */
}
label{
    width: 100%;
}
input{
    width: 100px;
}
}